

<div class="container"  >
  <div class="row"  >

    <div class="col-md-4" *ngFor="let product of productList">


      <div class="card " >
        <img class="card-img-top" src="{{product.img}}" >
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary"  (click)="addToCart(product);">Ajouter au panier</a>
        </div>
      </div>
    </div>

  </div>
</div>
